*{
    background-color: black;
}
h1{
    background-color: #0e0250;
    color:aliceblue
}
table {
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
}

th, td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}
#verUsuarios{
    margin:40px;
    
}

td img {
    border-radius: 50%;
    width: 90px; 
    height: 90px; 
    display: block;
    margin: 0 auto;
}